$ImageSize: 320px;
$columns: 3;
$gutter: 20px;
.wrapper {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
  padding: 0 30px;
}
@media (max-width: 576px) {
  .wrapper {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
  }
}

.previewPhoto {
  position: relative;
  display: flex;
  justify-content: center;
  img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(100%);
  }

  h1 {
    position: absolute;
    top: 55%;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 3em;
    z-index: 50;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    span {
      display: inline-block;
      &:nth-child(2n + 1) {
      }
      &:nth-child(2n + 2) {
      }
    }

    @media (max-width: 767px) {
      top: 20%;
      color: rgb(231, 229, 229);
    }
  }
  .Scroller {
    position: absolute;
    bottom: 3%;
    cursor: pointer;
    pointer-events: visible;
    font-size: 30px;
    @media (max-width: 767px) {
      bottom: 10%;
    }
  }
}

.wrapperHiden {
}

h1 {
  margin: 1em 0;
  text-align: center;
  color: black;
  font-size: 2rem;
  z-index: 50;
  color: white;
  font-style: italic;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
