.imageConteiner {
position: relative;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    user-select: none;
  }
  &:nth-child(2n + 1) {
    grid-column: span 2;
  }
  &:nth-child(3n + 2) {
    grid-column: span 2;
  }
}


.deleteButton {
    cursor: auto;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 5px;
    right: 5px;
    &:hover {
        transform: scale(120%);
    }
}