.carouselWrapper {
  position: fixed;
  overflow: hidden;
  background-color: rgb(31, 31, 31);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .closeButton {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    padding: 5px;
    font-size: 20px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: rgb(150, 0, 0);
    }
  }

  .imageWrapper {
    position: relative;
    height: 80vh;
    max-width: 70vh;
    margin: 0 auto;

    img {
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }
}

.control-arrow {
  background-color: red;
}
